# üêº **AUPP Data Science Club**

## **Week 2: NumPy, Pandas, and Data Exploration**

## Data Exploration

üíù We will be working with the [Valentine's Day Gift & Satisfaction Dataset 2025](https://www.kaggle.com/datasets/eunglaimeng/valentines-day-gift-and-satisfaction-dataset-2025?), which is a **synthetic dataset** designed for doing basic data exploration, featuring 670 romantic gift-giving scenarios with satisfaction ratings.

---

![valentine-poster.png](https://github.com/AUPP-Data-Science-Club/week2-numpy-pandas-and-data-exploration/blob/main/valentine-poster.png?raw=True)


---

### Download Dataset

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("eunglaimeng/valentines-day-gift-and-satisfaction-dataset-2025")

print("Path to dataset files:", path)

In [ ]:
%ls {path}

### Import Libraries

In [1]:
# Import NumPy and Pandas
import pandas as pd

In [5]:
# Read the downloaded dataset
data = pd.read_csv(path + "/valentine_gifts_satisfaction.csv")

data.head()

,id,receiver_gender,receiver_age,relationship_type,months_together,gift_item,gift_category,price,flower_count,days_prepared,receiver_satisfaction
0,1,Non-binary,31,Married,96,Necklace,Jewelry,45.51,24,7,4
1,2,Female,33,Engaged,65,Labubu Doll,Collectibles,72.56,0,7,5
2,3,Male,29,Dating,23,Necklace,Jewelry,37.05,0,2,4
3,4,Non-binary,39,Married,112,Necklace,Jewelry,124.86,24,1,3
4,5,Male,47,Dating,35,Dubai Chocolate,Sweets,27.71,0,5,4

### Data Explanation

| Column | Type | Description |
|--------|------|-------------|
| `id` | Integer | Unique identifier (1-670) |
| `receiver_gender` | String | Gender of gift receiver (Female, Male, Non-binary) |
| `receiver_age` | Integer | Age of receiver (18-60 years) |
| `relationship_type` | String | Type of relationship (Dating, Married, First Date, Engaged, Complicated) |
| `months_together` | Integer | Duration of relationship in months (0-357) |
| `gift_item` | String | Specific gift given (18 different items) |
| `gift_category` | String | Category of gift (Sweets, Jewelry, Luxury, Collectibles, Gaming, Sentimental) |
| `price` | Float | Price of gift in USD ($5-$500) |
| `flower_count` | Integer | Number of flowers included (0, 1, 3, 6, 12, 24, 50, 67) |
| `days_prepared` | Integer | Days spent preparing the gift (0-200) |
| `receiver_satisfaction` | Integer | Satisfaction rating (1-5 scale, 1=very unhappy, 5=very happy) |

### Understanding the data

- find the dimension of `data`
- get key information from our `data` using `.info()`
- get statistical summary of the `data` using `.describe()` 
- drop `id` column

In [ ]:
data.info()

In [11]:
data = data.drop(columns='id')

1. What is the proportion of receiver's gender?

2. How many unique gifts are there? What are they?

3. What gift category were gifted the most? Which one were gifted the least?

4. What was the most popular gift item?

5. What was the average price spent on Labubu Doll?

6. On average, what item is the most expensive gift?

7. Find all gifts given to people aged 40 or older

8. How many people did not get their partner a flower?

9. Find all receivers who received a gift of less than $10 in price, and still fully satisfied with their gift.

10. Display all the data for the couple who have been together for over 300 months

11. Calculate the average satisfaction for each gift item

12. Find the couple who have been together the longest, and still not engaged or married yet
> Hint: 
> - Filter using `~` (NOT operator) and `.isin()`
> - Use `.nlargest(n, columns)` to find the first `n` rows with the largest values

### Let's work with File Handling

1. Open the file `receiver_names_emails.csv`

In [39]:
personal_data = pd.read_csv(path + "/receiver_names_emails.csv")

personal_data.head()

      receiver_name             receiver_email
0     Lauren Torres   lauren.torres@icloud.com
1  Andrewlee Turner        andrewlee@yahoo.com
2       Avery Adams    avery_adams@outlook.com
3      Sarah Torres  sarah.torres@tutanota.com
4        Ryan Baker         ryan3715@gmail.com

2. Combine `personal_data` to our main `data`

3. Find all receivers with the last name 'Lee'

4. Find all receivers who uses `gmail` as their email address

5. Find all receivers who has a number in their email address